# Dependency Directories
**/node_modules/
**/vendor/
**/dist/
**/build/
**/www/
**/target/
**/.next/
**/out/

# Environment Variables
**/.env
**/.env.local
**/.env.*.local

# Logs
**/logs
**/*.log
**/npm-debug.log*

# Database/Storage (Local development)
**/tasks.json
**/db_data/
**/bootstrap/cache/
**/storage/framework/
**/storage/app/
**/storage/*.key
**/.phpunit.result.cache

# OS Files
.DS_Store
Thumbs.db

# IDE Files
.vscode/
.idea/
*.swp
*.swo
